alabaster==0.7.10
Babel==2.5.3
certifi==2018.1.18
chardet==3.0.4
cssselect==1.0.3
docutils==0.14
idna==2.6
imagesize==1.0.0
Jinja2==2.10.1
lxml==4.2.1
MarkupSafe==1.0
packaging==17.1
Pygments==2.2.0
pyparsing==2.2.0
pyquery==1.4.0
pytz==2018.3
requests>=2.20.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx>=1.6.1,<1.7.0
sphinxcontrib-websupport==1.0.1
Tinkerer==1.6.0
typing==3.6.4
urllib3>=1.23
